.background {
  background-color: black;
  text: black;
}

.white {
  color: white;
}

.rotate {
  width: 1rem;
  height: 1rem;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.stable {
  border: 1px solid white;
}
